@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/NeoDunggeunmoPro-Regular.woff2") format("woff2");
}

body {
  font-family: "NeoDunggeunmoPro-Regular", sans-serif;
}
